.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  flex-grow: 1;
  padding-top: 80px; /* Adjust this value based on the header height */
  position: relative;
}

.add-task-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 12px;
  z-index: 1000;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px; /* Add margin to create a gap between header and cards */
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  flex-grow: 1;
  flex-basis: 300px;
  margin: 10px 0;
}